/* Paul Smith Colors
#23372C
#9EBCAB
#FAC0B8
#F49300
#FF5958
#4D354B
#507B8A
#008C91
*/

.main-container {
  height: 100vh;
  max-width: 100vw;
  /* display: flex;
  justify-content: center; */
  background-image: linear-gradient(
    to right, 
    #FF5959 0%,
    #FF5959 50%,
    #242424 50%,
    #242424 100%
  );
}

.inner-container {
  max-width: 1280px;
  height: 100%;
  padding: 6.0rem 0 3.0rem 8.0rem ;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  background-color: #242424;
}

.flex-margin {
  flex: 1 1 auto;
}

.main-projects {
  margin: 0 0 0 11.0rem;
  flex: 1 1 auto; /* Turn on flex-grow */

  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  column-gap: 9.0rem; */
}

.projects-display {
  /* padding-left: 12.0rem; */
  align-self: center;
  width: 70%;
  height: 100%;

  display: flex;
  align-items: top;
}

.repo-red {
  width: 100%;
  height: 25.0rem;
  background-color: red;
}

.repo-green {
  width: 100%;
  height: 25.0rem;
  background-color: green;
}

.repo-blue {
  width: 100%;
  height: 25.0rem;
  background-color: blue;
}

.hidden {
  display: none;
}

.projects-display .pre-heading {
  font-size: 1.6rem;
}

.projects-display h2 {
  font-size: 3.6rem;
  margin-top: 1.0rem;
}

.projects-display p {
  margin-top: 2.4rem;
}

.projects-sidebar {
  align-self: center;
  width: 25%;
  height: 100%;
  /* padding: 3.0rem; */

  display: flex;
  align-items: top;
}

.filter-bar {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: #333 solid 1px;
  font-size: 1.6rem;
}

.project-list {
  height: auto;
  /* overflow: scroll; */
}

.project-list ul {
  list-style: none;
}

.project-link {
  cursor: pointer;
}

footer {
  text-align: right;
  padding: 3.5rem 0 2.7rem;
}

footer p {
  font-size: 1.4rem;
}

.repo-list-container {
  /* margin: 0 auto; */
  margin-top: 2.4rem;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

/* .debug-border {
  border: solid #777 2px;
} */